.container-banner{
    display: flex;
    /* max-width: 1440px; */
    align-items: center;
    justify-content: space-between;
    height: 650px;
    margin: 0 auto;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 100px;
    gap: 80px;
    

}

.container-img{
    border-radius: 15px;
}

.img{
    border-radius: 15px;
}

.container-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
}

.container-info p{
    margin: 0;
    font-size: 18px;
    font-weight: 300;
}

.button-front{
    width: 296px;
    font-size: 40px;
    background-color:#6BD1FF ;
    border-radius: 15px;
    border: none;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 40px;

}

.title{
    font-size: 46px;
    font-weight: 400;
    margin: 0;
}